<template name="MasterLayout">
  <!--<!DOCTYPE html>-->
  <!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!-->
  <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>HereBy.Us</title>

    <meta name="description"
          content="HereBy.Us is the fastest way to connect with people in the same room.">
    <meta name="author" content="HereBy.Us">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="img/favicon.png?v=2" />
    <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57" />
    <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72" />
    <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76" />
    <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114" />
    <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120" />
    <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144" />
    <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152" />
    <link rel="apple-touch-icon" href="img/icon180.png" sizes="180x180" />
    <!-- END Icons -->


  </head>
  <body>
  <!-- Page Container -->

  {{> AuthenticatedLayout}}



  <!-- END Page Container -->


  </body>
  </html>

</template>