<template name="PublicLayout">
  <div id="page-container" class="boxed">

      {{> PublicHeader}}

        {{> yield}}

      {{> PublicFooter}}

  </div>

  <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
  <a href="#" id="to-top"><i class="fa fa-arrow-up"></i></a>
</template>