<template name="AuthenticatedSideMenu">
    <!-- Alternative Sidebar -->
    <div id="sidebar-alt" tabindex="-1" aria-hidden="true">
        <!-- Toggle Alternative Sidebar Button (visible only in static layout) -->
        <a href="javascript:void(0)" id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i
                class="fa fa-times"></i></a>

        <!-- Wrapper for scrolling functionality -->
        <div id="sidebar-scroll-alt">
            <!-- Sidebar Content -->
            <div class="sidebar-content">


                <!-- Settings -->
                <div class="sidebar-section">
                    <h2 class="text-light">Fetch Status</h2>


                </div>
                <!-- END Settings -->
            </div>
            <!-- END Sidebar Content -->
        </div>
        <!-- END Wrapper for scrolling functionality -->
    </div>
    <!-- END Alternative Sidebar -->

    <!-- Main Sidebar -->
    <div id="sidebar">
        <!-- Sidebar Brand -->
        <div id="sidebar-brand" class="themed-background">
            <a href="/dashboard" class="sidebar-title">
                <i class="fa fa-cube"></i> <span class="sidebar-nav-mini-hide">Lead<strong>FINDER</strong></span>
            </a>
        </div>
        <!-- END Sidebar Brand -->

        <!-- Wrapper for scrolling functionality -->
        <div id="sidebar-scroll">
            <!-- Sidebar Content -->
            <div class="sidebar-content">
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">

                    {{#if currentUser}}

                        <li>
                            <a href="/dashboard" class=" active"><i class="gi gi-compass sidebar-nav-icon"></i><span
                                    class="sidebar-nav-mini-hide">Dashboard</span></a>
                        </li>
                        <li class="sidebar-separator">
                            <i class="fa fa-ellipsis-h"></i>
                        </li>
                        <li>
                            <a href="/settings" class=" active"><i class="gi gi-compass sidebar-nav-icon"></i><span
                                    class="sidebar-nav-mini-hide">Settings</span></a>
                        </li>
                        <li class="sidebar-separator">
                            <i class="fa fa-ellipsis-h"></i>
                        </li>


                    {{else}}



                    {{/if}}





                    <!-- Added items -->



                </ul>
            </div>
            <!-- END Sidebar Content -->
        </div>

        <!-- END Wrapper for scrolling functionality -->

        <!-- Sidebar Extra Info -->
        <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">



            <div class="text-center">
                <small>Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://www.bigworkindustries.com"
                                                                                  target="_blank">BigWork</a></small>
                <br>
                <small><span id="year-copy"></span> &copy; <a href="http://goo.gl/RcsdAh" target="_blank">AppUI 2.2</a>
                </small>
            </div>
        </div>
        <!-- END Sidebar Extra Info -->
    </div>
    <!-- END Main Sidebar -->
</template>