<template name="PublicHeader">

  <!-- Site Header -->
  <header>
    <div class="container">
      <!-- Site Logo -->
      <a href="/" class="site-logo">
        <i class="fa fa-cube"></i> HereBy<strong>.Us</strong>
      </a>
      <!-- END Site Logo -->

      <!-- Site Navigation -->
      <nav>
        <!-- Menu Toggle -->
        <!-- Toggles menu on small screens -->
        <a href="javascript:void(0)" class="btn btn-default site-menu-toggle visible-xs visible-sm">
          Menu
        </a>
        <!-- END Menu Toggle -->

        <!-- Main Menu -->
        <ul class="site-nav">
          <li>
            <a href="index.html" class="active">Welcome</a>
          </li>
          <li>
            <a href="features.html">Features</a>
          </li>
          <li>
            <a href="pricing.html">Pricing</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a href="ui.html">UI</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="site-nav-sub"><i class="fa fa-angle-down site-nav-arrow"></i>Pages</a>
            <ul>
              <li>
                <a href="blog.html">Blog</a>
              </li>
              <li>
                <a href="blog_post.html">Blog Post</a>
              </li>
              <li>
                <a href="portfolio.html">Portfolio</a>
              </li>
              <li>
                <a href="project.html">Project</a>
              </li>
              <li>
                <a href="team.html">Team</a>
              </li>
              <li>
                <a href="faq.html">FAQ</a>
              </li>
              <li>
                <a href="jobs.html">Jobs</a>
              </li>
              <li>
                <a href="search_results.html">Search Results</a>
              </li>
              <li>
                <a href="page_scroller.html">Page Scroller</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="sign-in" class="featured">Sign-In</a>
          </li>
          <li>
            <a href="sign-up" class="featured">Sign-Up <i class="fa fa-arrow-right"></i></a>
          </li>
        </ul>
        <!-- END Main Menu -->
      </nav>
      <!-- END Site Navigation -->
    </div>
  </header>
  <!-- END Site Header -->

</template>