
@hereby-blue:         #627aad;

.entry {

  margin-top: 100px;
  margin-bottom: 140px;

}

header.header-scroll {
  background-color: @hereby-blue;
}

.site-nav a.featured {
  background: @hereby-blue;
}