@import "AppUI/public/css/main.import.less";
@import "AppUI/public/css/plugins.import.less";
@import "AppUI/public/css/themes.import.less";

@import "AppUI/authenticated/css/main.import.less";
@import "AppUI/authenticated/css/plugins.import.less";
@import "AppUI/authenticated/css/themes.import.less";
@import "AppUI/authenticated/css/themes/social.import.less";

@import "hereby-theme.import.less";

/*
@startup-basePath: "startup/";
@startup-fontPath: "/startup/common-files/fonts/";
@icon-font-path: "/startup/flat-ui/fonts/";
@local-font-path: "/startup/flat-ui/fonts/lato/";

@import '@{startup-basePath}flat-ui/less/flat-ui.import.less';
@import '@{startup-basePath}flat-ui/less/variables.import.less';
@import '@{startup-basePath}flat-ui/less/mixins.import.less';

@import '@{startup-basePath}common-files/less/icon-font.import.less';
@import '@{startup-basePath}common-files/less/mixins.import.less';
@import '@{startup-basePath}common-files/less/common.import.less';
@import '@{startup-basePath}common-files/less/navbar.import.less';
@import '@{startup-basePath}common-files/less/helper.import.less';

@import '@{startup-basePath}ui-kit/ui-kit-blog/less/style.import.less';
@import '@{startup-basePath}ui-kit/ui-kit-contacts/less/style.import.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/style.import.less';
@import '@{startup-basePath}ui-kit/ui-kit-crew/less/style.import.less';
@import '@{startup-basePath}ui-kit/ui-kit-footer/less/style.import.less';
@import '@{startup-basePath}ui-kit/ui-kit-header/less/style.import.less';
@import '@{startup-basePath}ui-kit/ui-kit-price/less/style.import.less';
@import '@{startup-basePath}ui-kit/ui-kit-projects/less/style.import.less';
*/
