<template name="Dashboard">

    <div class="jumbotron">
        <h1>Welcome to Lead Finder</h1>

        <p>
            In order to use Lead Finder, a few extensions need to be installed in Chrome:
        </p>
        <ul>
            <li>
                <a href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi"
                   target="_blank">Allow-Control-Allow-Origin: *</a></li>
            <li>
                <a href="https://chrome.google.com/webstore/detail/ignore-x-frame-headers/gleekbfjekiniecknbkamfmkohkpodhe"
                   target="_blank">Ignore X-Frame headers</a></li>
        </ul>
        <p>
            Since the parsing function of Lead Finder works from your browser, it may help to have a VPN installed that
            would allow you to switch IPs in case yours gets blocked.
        <ul>
            <li>For example: <a href="https://www.privateinternetaccess.com/">https://www.privateinternetaccess.com/</a>
            </li>

        </ul>
        </p>


    </div>
    {{> Search}}
</template>