<template name="SearchResult">
    <h1>Search Results</h1>

    <button id="doSearch" type="submit" class="btn btn-effect-ripple btn-success">Run</button>
    &nbsp;&nbsp;
    <button id="doEdit" type="submit" class="btn btn-effect-ripple btn-primary">Edit</button>
    &nbsp;&nbsp;
    <button id="queueAll" type="submit" class="btn btn-effect-ripple btn-info">Queue All</button>
    &nbsp;&nbsp;
    <button id="DeQueueAll" type="submit" class="btn btn-effect-ripple btn-danger">UnQueue All</button>
    &nbsp;&nbsp;

    <input id="showQueuedCheckbox" type="checkbox" checked="{{showQueuedResponses}}"
           name="category"/> Show Queued

    <br/>
    <br/>

    <div class="row">
        <div class="col-xs-6">
            <div class="block">
                {{> tabular id='PostListTable' table= TabularTables.postList selector=postListSelector class="table table-striped table-bordered table-condensed table-vcenter hover"}}

            </div>
        </div>
        <div class="col-xs-6">
            {{#with currentPost}}
                <div class="block">
                    <div class="block-title"><h3>{{title}}</h3>&nbsp;&nbsp;&nbsp;&nbsp;<a
                            href="mailto:{{email}}">{{email}}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                            href="{{url}}" target="_blank">{{url}}</a></div>
                    <div class="row">
                        <p>{{description}}</p>
                    </div>
                </div>
                <div class="block">
                    <div class="block-title"><h4>RESPONSE</h4></div>
                    <div class="row">

                        <p>
                            <input id="queuedResponseCheckbox" type="checkbox" checked="{{queued}}"
                                   name="category"/> Queue Response

                        </p>
                        <hr/>
                        <p>

                        <h3>Subject:</h3>{{responseSubject}}</p>
                        <p>
                        <hr/>
                        <h3>Body:</h3>{{{responseBody}}}</p>
                        <p>
                        <hr/>
                        <h3>Attachment:</h3>{{responseAttachment}}</p>

                    </div>

                </div>
                <div class="block">
                    <div class="block-title"><h4>ORIGINAL</h4></div>
                    <iframe id="postFrame" src="{{url}}" height="800" width="100%"></iframe>
                </div>
            {{/with}}
        </div>
    </div>


</template>
