<template name="UpsertSearch">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">{{#if isInsert}}


                        New Search

                    {{else}}

                        Update Search

                    {{/if}}</h4>
                </div>

                <div class="modal-body">

                    {{#if isInsert}}

                        {{> quickForm collection="Search" id="searchForm" type="insert"}}

                    {{else}}
                        {{> quickForm collection="Search" doc=this  id="searchForm" type="update"}}
<br />
                        <button id="doDelete" type="submit" class="btn btn-effect-ripple btn-danger">Delete</button>

                    {{/if}}


                </div>

            </div>
        </div>
    </div>
</template>
