<template name="Search">
    <div class="row">
        <div class="col-xs-4">

            <div class="block">
                <div class="block-title"><h4>Searches</h4></div>


                <button id="newSearch" type="submit" class="btn btn-effect-ripple btn-primary">New</button>
                <br/>

                {{> tabular table=TabularTables.Searches class="table table-striped table-bordered table-condensed"}}


            </div>

        </div>
        <div class="col-xs-4">

            <button id="processQueue" type="submit" class="btn btn-effect-ripple btn-success">Email Queued Responses</button>
            <div class="block">
                <div class="block-title"><h4>Queued Responses</h4></div>

                {{> tabular table=TabularTables.QueuedResponses selector=queuedSelector class="table table-striped table-bordered table-condensed"}}

            </div>

        </div>
        <div class="col-xs-4">

            <div class="block">
                <div class="block-title"><h4>Response Templates</h4></div>

                <button id="newTemplate" type="submit" class="btn btn-effect-ripple btn-primary">New</button>
                <br/>

                {{> tabular table=TabularTables.ResponseTemplates class="table table-striped table-bordered table-condensed"}}

            </div>

        </div>
    </div>

</template>


