<template name="SearchResultFetcher">
    <div>
        <i id="loadingSpinner" class="fa fa-spinner fa-2x fa-spin text-primary"></i>
    </div>

<br/>
    <textarea id="resultTextArea" rows="40" cols="120" style="background-color: black; color:white;"></textarea>
</template>
